.form-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    width: 90%;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 20px;
}
label{
    display: flex;
    width: 90%;
    /* background-color: aliceblue; */
    align-items: center;
    justify-content: space-between;
}