.container{
    height: 80vh;
    width: 80vh;
    background-color: aqua;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    
}
.score-container{
    padding: 10px;
    /* background-color: antiquewhite; */
    text-align: center;
    margin: 20px;
    
    
    
}
.button-container{
    /* background-color: aquamarine; */
    
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding: 10px;
    
    margin-bottom: 10px;
  }
  .button-container button{
    border-radius: 10px;
  }
  .quiz-container{
    /* background-color: azure; */
    height: calc(100% - 60px);
    
    
  }
  .question-container{
    /* background-color: blanchedalmond; */
    
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid;
  }
  .answer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 10px;
    padding: 10px;
  }
  .answer-container button{
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    cursor: pointer;
  }
  .answer-container button:hover{
    background-color: aquamarine;
  }
  .answer-container button span{
    margin: 2px;
    margin-right: 10px;
    background-color: rgb(193, 220, 211);
    padding: 5px;
    border-radius: 50%;
  }